.debug {
  display: none;
}

@font-face {
    font-family: "My Custom Font";
    src: url(assets/fonts/SuperMario256.ttf) format("truetype");
}

li {
  list-style: circle;
  margin-bottom: 5px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.Aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 60%;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: grey;
}

#canvas {
  background-color: #ccc;
}

#page-wrap {
  width: 500px;
  margin: 0 auto;
}

#console {
  align-self: flex-start;
  /* min-width: 178px; */
}

#game-style {
  margin-left: 20px;
}

#stats {
  align-self: flex-end;
  /* min-width: 178px; */
}

#about-text, #victory-text {
  display: none;
  min-width: 500px;
  font-family: "My Custom Font", Verdana, Tahoma;
}

#overlay-message {
  position: absolute;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 30px;
  color: white;
  width: 180px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  text-align: center;
}

#dialog-menu {
  display: none;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 1px;
}

#loading-dots {
  position: absolute;
}

#game {
  position: relative;
  display: block;
  max-width: 1000px;
}

#challenge {
  color: white;
  font-size: 28px;
  position: absolute;
  right: 110px;
  top: 88px;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
}

#load-status {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-color: #00fa;
  padding: 20px;
}

#load-status h3 {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}

#animation-frame {
  position: absolute;
  top: 5px;
  left: 5px;
}

#settings-menu {
  display: none;
  height: auto;
}

.menu {
  flex-direction: column;
  padding: 30px;
  z-index: 9;
  position: absolute;
  left: 30%;
  top: 100px;
  height: 300px;
  background-color: #333c;
  width: 450px;
  color: #fffc;
}

.modal-msg {
  flex: 1 0 auto;
}

.modal-btns {
  flex-shrink: 0;
}

#settings-menu > div {
  margin-bottom: 20px;
}

#settings-menu li {
  list-style: none;
}


#game-difficulty {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#save-settings-btn {
  font-size: 15px;
  right: 10px;
  bottom: 10px;
  position: absolute;
}
